DATABASE_URL="mysql://root:PASSWORD@localhost:3306/aumraj_local"
NEXTAUTH_SECRET="run: openssl rand -base64 32"
NEXTAUTH_URL="http://localhost:5500"
NEXTAUTH_URL_INTERNAL="http://127.0.0.1:5500"
NODE_ENV="development"
